@charset 'utf-8';

/* HTML5 Reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
}
body {
  font-family: "Circular-Medium";
  color: #212121;
  background-color: #fff;
  line-height: 1;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
  overflow-x: hidden;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
a,
button {
  color: #212121;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}
button {
  cursor: pointer;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
h7,
strong,
b {
  font-weight: normal;
}
:lang(ko) body {
  font-family: "YoonGothicPro770";
}
:lang(jp),
.jp {
  font-family: "Hiragino Kaku Gothic Pro", Meiryo;
}
:lang(ko) * {
  word-break: keep-all;
  word-wrap: break-word;
}

.max-width {
  width: 100%;
  margin: 0 auto;
}
.V6 .max-width {
  max-width: 1600px;
}

.blind {
  position: absolute;
  top: -999px;
  left: -999px;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

html {
  position: relative;
  width: 100%; /*height:100%;overflow:hidden;*/
}
body {
  position: relative;
  width: 100%; /*height:100%;/*overflow:hidden;*/
}
#document {
  position: relative;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #fff; /*will-change:transform;*/
}
.V1 #document.jump-type {
  margin-bottom: 512px;
}
.V2 #document.jump-type {
  margin-bottom: 320px;
}
.V3 #document.jump-type {
  margin-bottom: 480px;
}
.V4 #document.jump-type {
  margin-bottom: 560px;
}
.V5 #document.jump-type {
  margin-bottom: 640px;
}
.V6 #document.jump-type {
  margin-bottom: 750px;
}
#document:before {
  content: "";
  display: block;
  overflow: hidden;
}

#document.work {
  margin-bottom: 0 !important;
}
#document.work + .fake-wrap {
  position: relative;
}
.V1 #document.work + .fake-wrap {
  height: 512px;
}
.V2 #document.work + .fake-wrap {
  height: 320px;
}
.V3 #document.work + .fake-wrap {
  height: 480px;
}
.V4 #document.work + .fake-wrap {
  height: 560px;
}
.V5 #document.work + .fake-wrap {
  height: 640px;
}
.V6 #document.work + .fake-wrap {
  height: 750px;
}

.sticky #document.work #wrap {
  margin-top: -290px;
}
.V5.sticky #document.work #wrap {
  margin-top: -335px;
}
.V3.sticky #document.work #wrap {
  margin-top: -213px;
}
.V2.sticky #document.work #wrap {
  margin-top: -185px;
}
.V1.sticky #document.work #wrap {
  margin-top: -150px;
}

html.scrollLock #document {
  transition: none !important;
}
html.ready #document {
  background: none;
  transition: none !important;
}
html.scrollLock .page-jump-bottom,
html.ready .page-jump-bottom {
  opacity: 0 !important;
  transition: none !important;
}
html.scrollLock #document .head-text-wrap {
  opacity: 0;
}

.scrollLock,
.scrollLock body {
  overflow: hidden;
}
.V1.scrollLock body {
  height: 100%;
}

#document > header {
}
#document > header {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 1px;
  overflow: visible;
}
html.preview-loading #document > header {
  opacity: 0;
}
.gnb-open #document > header {
  position: fixed;
}
#document > header .wrap {
  position: relative;
  height: 100%;
  overflow: visible;
}
#document > header .max-area {
  position: relative;
}
#document > header .wrap .ci {
  z-index: 10;
  position: absolute;
  top: 42px;
  left: 4.5%;
}
.V3 #document > header .wrap .ci {
  top: 32px;
  left: 4.3%;
  width: 127.38px;
  height: 44px;
}
.V2 #document > header .wrap .ci {
  top: 24px;
  left: 4.3%;
  width: 127.38px;
  height: 44px;
}
.V1 #document > header .wrap .ci {
  top: 13px;
  left: 4.56%;
}
#document > header .wrap .ci .logo-abbr {
  display: none;
}
.V1 #document > header .wrap .ci .logo-abbr {
  display: block;
}
#document > header .wrap .ci .logo-full {
  width: 180.19px;
  height: 60px;
}
.V4 #document > header .wrap .ci .logo-full {
  width: 127.38px;
  height: 44px;
}
.V3 #document > header .wrap .ci .logo-full {
  width: 127.38px;
  height: 44px;
}
.V2 #document > header .wrap .ci .logo-full {
  width: 127.38px;
  height: 44px;
}
.V1 #document > header .wrap .ci .logo-full {
  display: none;
}
#document > header .wrap .ci a {
  display: block;
  width: auto;
  height: auto;
  cursor: pointer;
}
#document > header .wrap .title {
  position: absolute;
  left: 30.9%;
  top: 38px;
  font-family: "Circular-Bold";
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  transition: opacity 0.25s;
}
.gnb-open #document > header .wrap .title {
  opacity: 0;
}

.V3 #document > header .wrap .title {
  top: 29px;
}
.V2 #document > header .wrap .title {
  left: 30.81%;
  top: 21px;
}
.V1 #document > header .wrap .title {
  left: 30.93%;
  top: 11px;
}
#document > header .wrap .language {
  z-index: 10;
  position: absolute;
  top: 44px;
  right: 19.1%;
}
.gnb-open #document > header .wrap div.language {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
.V3 #document > header .wrap .language {
  top: 33px;
}
.V2 #document > header .wrap .language {
  top: 25px;
}
.V1 #document > header .wrap .language {
  top: 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.V1 .gnb-open #document > header .wrap .language {
  opacity: 1;
  visibility: visible;
}

#document > header .wrap .language a {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  margin-left: 16px;
  font-family: "Circular-Bold";
  font-size: 12px;
  line-height: 18px;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
#document > header .wrap .language a:hover,
#document > header .wrap .language a:focus,
#document > header .wrap .language span.selected,
#document > header .wrap .language a.selected {
  opacity: 0.38;
  color: #212121;
  cursor: normal;
}
#document > header .wrap .language a:hover:after,
#document > header .wrap .language a:focus:after,
#document > header .wrap .language a.selected:after {
  width: 0;
}
/*

	#document > header .wrap .language > a:hover,
	#document > header .wrap .language > a.selected {opacity:1}
	#document > header .wrap .language > a.selected:after{width: 100%;}
	*/
#document > header .wrap .hamburger {
  position: fixed;
  z-index: 10;
  top: 43px;
  left: 93%;
  overflow: visible;
}
.V5 #document > header .wrap .hamburger {
  left: 92.6%;
}
.V4 #document > header .wrap .hamburger {
  left: 91.8%;
  top: 43px;
}
.V3 #document > header .wrap .hamburger {
  left: 90.5%;
  top: 33px;
}
.V2 #document > header .wrap .hamburger {
  left: auto;
  right: 4.4%;
  top: 25px;
}
.V1 #document > header .wrap .hamburger {
  left: auto;
  right: 4.7%;
  top: 15px;
}

#document > header .gnb a > span {
  color: #212121;
  font-size: inherit;
}
/*.V4 #document > header .gnb a>span {font-size:54px}
.V3 #document > header .gnb a>span {font-size:54px}
.V2 #document > header .gnb a>span {font-size:24px}
.V1 #document > header .gnb a>span {font-size:36px}*/

#document > header .gnb a:hover > span,
#document > header .gnb a:focus > span {
  color: #f4f4e7;
}

#document > footer {
  position: relative;
  height: 196px;
  z-index: 1;
  overflow: hidden;
}
.V2 #document > footer {
  height: 160px;
}
.V1 #document > footer {
  height: 160px;
}

#document > footer .max-area {
  padding-top: 100px;
  padding-left: 30.9%;
}
.V3 #document > footer .max-area {
  padding-top: 99px;
  padding-left: 19.1%;
}
.V2 #document > footer .max-area {
  padding-top: 64px;
  padding-left: 11.87%;
}
.V1 #document > footer .max-area {
  padding-top: 62px;
  padding-left: 11.87%;
}

#document > footer .menus {
  margin-left: -12px;
}
#document > footer .menus ul {
  overflow: hidden;
}
#document > footer .menus li {
  float: left;
}
#document > footer .menus a {
  text-transform: uppercase;
  font-family: "Circular-Book";
  font-size: 12px;
  padding: 6px 12px 6px 13px;
  font-weight: bold;
}
#document > footer .menus a:hover {
  color: #9d9d9d;
}
:lang(ko) #document > footer .menus a {
  font-family: "YoonGothicPro770";
  font-size: 11px;
  line-height: 1.64;
  font-weight: normal;
}

.V1 #document > footer .menus {
  display: none;
}
#document > footer .copyright {
  margin-top: 16px;
}
.V1 #document > footer .copyright {
  width: 130px;
}
.V1 #document > footer .copyright span {
  display: inline-block;
}
#document > footer .copyright p {
  font-family: "Replica-Bold";
  font-size: 12px;
  line-height: 18px;
}
#document > footer .copyright p .bar {
  display: inline-block;
  width: 27px;
  height: 2px;
  overflow: hidden;
  text-indent: -9999px;
  background-color: #212121;
  margin: 0 5px 3px 5px;
}
.V1 #document > footer .copyright p .bar {
  display: block;
  width: 1px;
  height: 1px;
  visibility: hidden;
  margin-bottom: -1px;
}

#document > footer a.btn-top {
  display: block;
  position: absolute;
  right: 4.2%;
  bottom: 44px;
  z-index: 1;
  width: 24px;
  padding-bottom: 4px; /*border-bottom:2px solid #212121;*/
  font-family: "Circular-Medium";
  font-weight: bold;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
}
#document > footer a.btn-top:before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 1;
  height: 2px;
  width: 100%;
  background: #212121;
}
#document > footer a.btn-top:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 2;
  height: 2px;
  width: 0;
  background-color: #9d9d9d;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -ms-transition: width 0.5s;
}
#document > footer a.btn-top:hover {
  opacity: 0.38;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
}
#document > footer a.btn-top:hover:after {
  width: 100%;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -ms-transition: width 0.5s;
}
#document > footer a.btn-top span.t {
  display: block;
}
#document > footer a.btn-top span.o {
  display: inline-block;
  float: left;
}
#document > footer a.btn-top span.p {
  display: inline-block;
  float: right;
}

#document.content-color-white > footer a.btn-top:before {
  background-color: rgba(255, 255, 255, 0.5);
}
#document.content-color-white > footer a.btn-top:after {
  background-color: #fff;
}

#document > footer a.btn-top {
  left: 93.5%;
}
.V5 #document > footer a.btn-top {
  left: 93.8%;
}
.V4 #document > footer a.btn-top {
  left: 93.4%;
}
.V3 #document > footer a.btn-top {
  left: 92.6%;
}
.V2 #document > footer a.btn-top {
  left: 91.4%;
}
.V1 #document > footer a.btn-top {
  left: 87.8%;
  bottom: 28px;
}

#o-preview {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  opacity: 0; /*will-change:opacity;*/
}
#o-preview > figure {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
#o-preview > figure > div {
  width: 100% !important;
  height: 100% !important;
}
#o-preview > figure img {
  display: block;
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto;
  padding: 0;
}
#o-preview > img {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}
#o-preview .hot {
  display: none;
}

#o-background {
  position: absolute;
  top: 0;
  z-index: -2;
  width: 100%;
  height: 640px;
  overflow: hidden;
}
.V5 #o-background {
  height: 854px;
}
.V6 #o-background {
  height: 854px;
}
.V3 #o-background {
  height: 480px;
}
.V2 #o-background {
  height: 355px;
}
.V1 #o-background {
  height: 600px;
}
#o-background > figure {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}
#o-background img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  opacity: 0;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition: opacity 0.5s;
}
.loaded #o-background img {
  opacity: 1;
}
.ie9 #o-background img {
  opacity: 1;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
}

#wrap {
  position: relative;
  height: auto;
  overflow: visible;
}
#wrap .contents {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

figure {
  width: 100%;
  height: auto;
  overflow: hidden;
}
figure > .image {
  width: 100%;
  height: auto;
  overflow: hidden;
}
figure .img {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
figure img {
  display: block;
  width: 100%;
  height: auto;
}

#wrap .h1 {
  position: fixed;
  z-index: 99;
  top: 142px;
  left: 93%;
  height: 40px;
  margin-left: 40px;
  font-family: "Circular-Medium";
  font-size: 24px;
  line-height: 40px;
  white-space: nowrap;
  text-align: left;
  transform: rotate(90deg);
  transform-origin: left top;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: left top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: left top;
}
:lang(ko) #wrap .h1 {
  font-family: "YoonGothicPro770";
  font-size: 18px;
}
html.preview-loading #wrap .h1 {
  opacity: 0;
}
.V5 #wrap .h1 {
  left: 92.6%;
}
.V4 #wrap .h1 {
  left: 91.8%;
  top: 129px;
}
.V3 #wrap .h1 {
  left: 90.6%;
  top: 107px;
}
.V2 #wrap .h1,
.V1 #wrap .h1 {
  display: none;
}

/*#document:before{
	background-color:rgba(255,255,255,.8);
    content: "";
    z-index:11;
    display:block;
    position: absolute;
    width : 100%;
    height: 100%;
    opacity:0;
    pointer-events: none;
    -webkit-transition: opacity .3s ease-in;
    -ms-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}*/
body.quick-open #document {
  background-color: rgba(255, 255, 255, 0.8);
  filter: blur(10px);
  -moz-filter: blur(10px);
  -webkit-filter: blur(10px);
  -o-filter: blur(10px);
}
body.quick-open #document:before {
  opacity: 1;
}

#o-quick {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  color: #212121;
  -webkit-transition: opacity 0.3s ease-in 0.2s;
  -ms-transition: opacity 0.3s ease-in 0.2s;
  transition: opacity 0.3s ease-in 0.2s;
}
body.quick-open #o-quick {
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in 0.2s;
  -ms-transition: opacity 0.3s ease-in 0.2s;
  transition: opacity 0.3s ease-in 0.2s;
}

#o-quick .btn-close {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
  font-size: 0;
  overflow: hidden;
}
#o-quick .btn-close:before,
#o-quick .btn-close:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.54);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#o-quick .btn-close:before {
  top: 11px;
  left: 4px;
  width: 16px;
  height: 2px;
}
#o-quick .btn-close:after {
  top: 4px;
  left: 11px;
  width: 2px;
  height: 16px;
}
#o-quick .card-wrap {
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
}

#o-quick .card-wrap h3 {
  position: absolute;
  top: 44px;
  left: 61px;
  font-family: "Circular-Medium";
  font-size: 18px;
  line-height: 1.44;
}
.V4 #o-quick .card-wrap h3 {
  top: 44px;
  left: 44px;
}
.V3 #o-quick .card-wrap h3 {
  top: 33px;
  left: 33px;
  font-size: 14px;
}
.V2 #o-quick .card-wrap h3 {
  top: 25px;
  left: 25px;
  font-size: 14px;
}
.V1 #o-quick .card-wrap h3 {
  top: 15px;
  left: 15px;
  font-size: 14px;
}

#o-quick .card-wrap .btn-close {
  position: absolute;
  top: 44px;
  right: 61px;
}
.V4 #o-quick .card-wrap .btn-close {
  top: 44px;
  right: 44px;
}
.V3 #o-quick .card-wrap .btn-close {
  top: 33px;
  right: 33px;
}
.V2 #o-quick .card-wrap .btn-close {
  top: 25px;
  right: 25px;
}
.V1 #o-quick .card-wrap .btn-close {
  top: 15px;
  right: 15px;
}

#o-quick .card-wrap [class*="-card"] {
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  width: 300px;
  height: 400px;
  padding: 44px;
  box-sizing: border-box;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;

  -webkit-transition: transform 0.3s linear;
  -moz-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
}
#o-quick .card-wrap [class*="-card"].on-1 {
  z-index: 1;
}
#o-quick .card-wrap [class*="-card"].on-2 {
  z-index: 2;
}
#o-quick .card-wrap [class*="-card"].on-3 {
  z-index: 3;
}

.V2 #o-quick .card-wrap [class*="-card"],
.V1 #o-quick .card-wrap [class*="-card"] {
  width: 178px;
  height: 236px;
  padding: 16px 27px;
}

#o-quick .card-wrap [class*="-card"] .c-title {
  font-family: "Circular-Medium";
  font-size: 36px;
  line-height: 1.28;
}
.V2 #o-quick .card-wrap [class*="-card"] .c-title,
.V1 #o-quick .card-wrap [class*="-card"] .c-title {
  font-size: 24px;
}

#o-quick .card-wrap [class*="-card"] p {
  position: absolute;
  bottom: 44px;
  left: 44px;
  font-family: "Circular-Book";
  font-size: 14px;
  line-height: 1.71;
}
.V2 #o-quick .card-wrap [class*="-card"] p,
.V1 #o-quick .card-wrap [class*="-card"] p {
  bottom: 20px;
  left: 27px;
}

#o-quick .card-wrap [class*="-card"].hover {
  /*-webkit-transform:translate3d(-50%, 0, 1px);
		-ms-transform:translate3d(-50%, 0, 1px);
		transform:translate3d(-50%, 0, 1px);*/
  -webkit-transform: perspective(1000px) translateX(-50%) translateZ(30px);
  -ms-transform: perspective(1000px) translateX(-50%) translateZ(30px);
  transform: perspective(1000px) translateX(-50%) translateZ(30px);
}

#o-quick .card-wrap .jobs-card {
  z-index: 1;
  background-color: #d4dfe8;
}
#o-quick .card-wrap .word-card {
  z-index: 1;
  background-color: #f4f4e7;
}
#o-quick .card-wrap .request-card {
  z-index: 1;
  background-color: #f4d1c0;
}

.V5 #o-quick .card-wrap .jobs-card {
  margin-top: 105px;
  margin-left: -223px;
}
.V6 #o-quick .card-wrap .jobs-card {
  margin-top: 105px;
  margin-left: -223px;
}
.V5 #o-quick .card-wrap .request-card {
  margin-top: 200px;
  margin-left: 223px;
}
.V6 #o-quick .card-wrap .request-card {
  margin-top: 200px;
  margin-left: 223px;
}

.V4 #o-quick .card-wrap .jobs-card {
  margin-top: 68px;
  margin-left: -242px;
}
.V4 #o-quick .card-wrap .request-card {
  margin-top: 156px;
  margin-left: 242px;
}

.V3 #o-quick .card-wrap .jobs-card {
  top: 18.6%;
}
.V3 #o-quick .card-wrap .word-card {
  top: 42.4%;
  margin-left: -87px;
}
.V3 #o-quick .card-wrap .request-card {
  top: 30.5%;
  margin-left: 87px;
}

.V2 #o-quick .card-wrap .jobs-card {
  margin-top: 34px;
  margin-left: -137px;
}
.V2 #o-quick .card-wrap .request-card {
  margin-top: 34px;
  margin-left: 137px;
}

.V1 #o-quick .card-wrap .jobs-card {
  top: 15.8%;
}
.V1 #o-quick .card-wrap .word-card {
  top: 42.6%;
  margin-left: -43px;
}
.V1 #o-quick .card-wrap .request-card {
  top: 29.2%;
  margin-left: 43px;
}

#o-quick .card-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
#o-quick .card-content .btn-back {
  display: block;
  position: absolute;
  top: 44px;
  left: 62px;
  width: 65px;
  font-family: "Circular-Medium";
  font-size: 18px;
  line-height: 1.44;
  color: rgba(0, 0, 0, 0.54);
}
.V4 #o-quick .card-content .btn-back {
  left: 44px;
}
.V3 #o-quick .card-content .btn-back {
  top: 33px;
  left: 33px;
  font-size: 14px;
}
.V2 #o-quick .card-content .btn-back {
  top: 25px;
  left: 25px;
  font-size: 14px;
}
.V1 #o-quick .card-content .btn-back {
  top: 15px;
  left: 15px;
  font-size: 14px;
}

#o-quick .card-content [class*="-wrap"] {
  display: none;
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 80%;
  height: calc(100% - 142px);
  border-top: 61px solid transparent;
  box-sizing: border-box;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.V4 #o-quick .card-content [class*="-wrap"] {
  height: calc(100% - 128px);
  border-width: 44px;
}
.V3 #o-quick .card-content [class*="-wrap"] {
  width: 88%;
  height: calc(100% - 106px);
  border-width: 33px;
}
.V2 #o-quick .card-content [class*="-wrap"] {
  width: 96%;
  height: calc(100% - 90px);
  border-width: 25px;
}
.V1 #o-quick .card-content [class*="-wrap"] {
  width: 95%;
  height: calc(100% - 70px);
  border-width: 15px;
}

#o-quick .card-content .btn-close {
  position: fixed;
  top: 203px;
  right: 61px;
}
.V4 #o-quick .card-content .btn-close {
  top: 172px;
  right: 44px;
}
.V3 #o-quick .card-content .btn-close {
  top: 139px;
  right: 33px;
}
.V2 #o-quick .card-content .btn-close {
  top: 115px;
  right: 25px;
}
.V1 #o-quick .card-content .btn-close {
  top: 85px;
  right: 15px;
}

#o-quick .card-content .c-header {
  padding: 0 261px 40px 54px;
}
.V4 #o-quick .card-content .c-header {
  padding: 0 196px 40px 44px;
}
.V3 #o-quick .card-content .c-header {
  padding: 0 90px 32px 33px;
}
.V2 #o-quick .card-content .c-header {
  padding: 0 66px 32px 41px;
}
.V1 #o-quick .card-content .c-header {
  padding: 0 38px 32px 23px;
}

#o-quick .card-content .c-header h3 {
  color: #000;
}
#o-quick .card-content .c-header h3 > * {
  display: block;
}
#o-quick .card-content .c-header h3 small {
  margin-bottom: 8px;
  font-family: "Circular-Book";
  font-size: 14px;
  line-height: 1.71;
}
#o-quick .card-content .c-header h3 span {
  font-family: "Circular-Medium";
  font-size: 36px;
  line-height: 1.28;
}
#o-quick .card-content .c-header p {
  margin-top: 16px;
  font-family: "Circular-Medium";
  font-size: 14px;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.54);
}

#o-quick .card-content .c-content {
  padding: 0 261px 79px 161px;
  font-size: 0;
  box-sizing: border-box;
}
.V4 #o-quick .card-content .c-content {
  padding: 0 196px 79px 120px;
}
.V3 #o-quick .card-content .c-content {
  padding: 0 90px 61px 57px;
}
.V2 #o-quick .card-content .c-content {
  padding: 0 66px 61px 84px;
}
.V2 #o-quick .card-content .c-content {
  padding: 0 38px 38px 46px;
}
.V1 #o-quick .card-content .c-content {
  padding: 0 38px 61px 46px;
}

#o-quick .card-content .c-content > div + div {
  margin-top: 44px;
}
.V2 #o-quick .card-content .c-content > div + div,
.V1 #o-quick .card-content .c-content > div + div {
  margin-top: 38px;
}

#o-quick .card-content .c-content h4 {
  margin-bottom: 7px;
  font-family: "Circular-Medium";
  font-size: 24px;
  line-height: 1.5;
}
.V2 #o-quick .card-content .c-content h4,
.V1 #o-quick .card-content .c-content h4 {
  font-size: 18px;
  line-height: 1.44;
}
#o-quick .card-content .c-content h4 small {
  font-family: "Circular-Book";
  font-size: 14px;
  line-height: 1.71;
  color: rgba(0, 0, 0, 0.54);
}

#o-quick .card-content .c-content .form-item {
  margin-top: 15px;
}
.V1 #o-quick .card-content .c-content .form-item {
  display: block;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#o-quick .card-content .c-content .form-item.first {
  display: block;
  margin-top: 0;
}

#o-quick .card-content .c-content .form-item.left {
  width: calc(50% - 19.5px);
  margin-right: 19.5px;
}
#o-quick .card-content .c-content .form-item.right {
  width: calc(50% - 19.5px);
  margin-left: 19.5px;
}
.V2 #o-quick .card-content .c-content .form-item.left {
  width: calc(50% - 10px);
  margin-right: 10px;
}
.V2 #o-quick .card-content .c-content .form-item.right {
  width: calc(50% - 10px);
  margin-left: 10px;
}

#o-quick .card-content .c-content .f-url {
  display: block;
}
#o-quick .card-content .c-content .f-textarea,
#o-quick .card-content .c-content .f-checkbox,
#o-quick .card-content .c-content .f-upload {
  width: 100%;
}

#o-quick .card-content .c-content .f-checkbox {
  margin-top: 0;
}
#o-quick .card-content .c-content .f-checkbox > ul {
  font-size: 0;
  margin: -8px 0;
  overflow: hidden;
}
#o-quick .card-content .c-content .f-checkbox > ul > li {
  display: inline-block;
  width: 33.3333%;
  margin: 4px 0;
}
.V2 #o-quick .card-content .c-content .f-checkbox > ul > li {
  width: 50%;
}
.V1 #o-quick .card-content .c-content .f-checkbox > ul > li {
  width: 100%;
}

#o-quick .card-content .c-content .f-privacy {
  margin-top: 6px;
}
#o-quick .card-content .c-content .f-privacy .checkmark {
  vertical-align: text-bottom;
}
#o-quick .card-content .c-content .f-privacy span {
  width: calc(100% - 16px);
  color: #212121;
  white-space: normal;
  vertical-align: top;
}

#o-quick .card-content .c-content .btn-confirm {
  width: 145px;
  margin-top: 19px;
  text-align: left;
  font-family: "Circular-Medium";
  font-size: 36px;
  line-height: 1.28;
  color: rgba(0, 0, 0, 0.12);
}
.V3 #o-quick .card-content .c-content .btn-confirm,
.V2 #o-quick .card-content .c-content .btn-confirm,
.V1 #o-quick .card-content .c-content .btn-confirm {
  width: 90px;
  font-size: 24px;
  line-height: 1.5;
}

#o-quick .card-content .jobs-wrap {
  background-color: #d4dfe8;
  border-color: #d4dfe8;
}
#o-quick .jobs-wrap .c-content .bedge {
  display: inline-block;
  width: 36px;
  height: 36px;
  background-color: #212121;
  border-radius: 18px;
  margin-left: 4px;
  text-align: center;
  color: #fff;
  font-family: "Circular-Medium";
  font-size: 24px;
  line-height: 1.5;
  font-style: normal;
}
#o-quick .jobs-wrap .c-content ul > li {
  margin-top: 16px;
}
#o-quick .jobs-wrap .c-content ul > li > a {
  display: inline-block;
  font-family: "Circular-Medium";
  font-size: 36px;
  line-height: 1.28;
}
#o-quick .jobs-wrap .c-content .empty {
  font-family: "Circular-Medium";
  font-size: 36px;
  line-height: 1.28;
}
#o-quick .jobs-wrap .c-content .btn-careers {
  display: inline-block;
  position: relative;
  margin-top: 24px;
  font-family: "Circular-Book";
  font-size: 14px;
  line-height: 1.71;
}
#o-quick .jobs-wrap .c-content .btn-careers:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #212121;
}

#o-quick .card-content .word-wrap {
  background-color: #f4f4e7;
  border-color: #f4f4e7;
}

#o-quick .card-content .request-wrap {
  background-color: #f4d1c0;
  border-color: #f4d1c0;
}
#o-quick .request-wrap .f-select {
  margin-top: 0 !important;
}

html.ready * {
  transition: color 0.5s linear, background-color 0.5s linear,
    border-color 0.5s linear, opacity 0.5s linear;
  -ms-transition: color 0.5s linear, background-color 0.5s linear,
    border-color 0.5s linear, opacity 0.5s linear;
}
html.ready #wrap {
  transition: none;
  -ms-transition: none;
}

html.ready #wrap .contents > h1,
html.ready #wrap .contents > .h1,
html.ready #wrap h2,
html.ready #wrap h3,
html.ready #wrap h4,
html.ready #wrap h5,
html.ready #wrap p {
  color: #fff;
  opacity: 0.12;
}
html.ready #wrap figure .o-img {
  opacity: 0;
}
html.ready #wrap figure {
}
html.ready #wrap .projects-list > .wrap > section > a:before {
  border-color: #000;
  opacity: 0.12;
}
html.ready body {
  background-color: transparent !important;
}

html.ready #wrap .hover,
html.ready #wrap .hover * {
  opacity: 1;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
}
html #wrap .projects-list > .wrap > section > a.hover:before {
  border-color: transparent;
}
html #wrap .projects-list > .wrap > section > a.hover h3,
html #wrap .projects-list > .wrap > section .hover .more {
  display: block;
  color: #212121 !important;
}
html.ready #wrap .projects-list > .wrap > section .hover figure .img {
  opacity: 1;
}
html #wrap .projects-list > .wrap > section .hover figure .alert {
  opacity: 0;
}
html #wrap .projects-list > .wrap > section .hover figure .alert.wait {
  color: #ffeb94 !important;
}
html.ready #wrap .projects-list > .wrap > section .hover figure .no,
html.ready #wrap .projects-list > .wrap > section .hover .category {
  color: #212121 !important;
}
html.ready #wrap .projects-list > .wrap > ul > li .hover .no,
html.ready #wrap .projects-list > .wrap > ul > li .hover h3 {
  color: #212121 !important;
}
html.ready #wrap .projects-list > .wrap > ul > li .hover .alert {
  color: #757575 !important;
}
html.ready #wrap .hover figure .o-img {
  opacity: 1;
}

html #wrap .projects-list > .wrap > section > a .mask {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.24),
    rgba(255, 255, 255, 0)
  );
}
html #wrap .projects-list > .wrap > section > a.hover .mask {
  opacity: 1;
  transition: opacity 0.3s;
}

html.ready footer,
html.ready #o-bottom {
  opacity: 0;
}

html.ready #o-preview.loaded,
html.load-page #o-preview {
  opacity: 1 !important;
}
html.load-page {
  overflow: hidden;
}
html.load-page body {
}

html.V1 #wrap .projects-list > .wrap > section .hover figure .alert {
  opacity: 1;
}

.o-img {
  overflow: hidden;
}
.o-img > img {
  position: relative;
  z-index: 1;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  visibility: hidden;
  opacity: 0;
  transform-origin: 50% 50%;
}
.o-img.video > img {
  position: relative; /*opacity:0 !important;*/
}
.o-img > video {
  display: none !important;
}
.o-img.video > video {
  position: absolute;
  top: 0;
  left: 0;
  display: block !important;
  width: 100%;
  z-index: 1;
}
.ie .o-img.video > video {
  top: -1px;
  left: -1px;
}
.o-img > .img-mask {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 5;
  overflow: hidden;
}
.ie9 .o-img > .img-mask {
  display: none;
}

.o-img > .img-mask .svg-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 127px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.V3 .o-img > .img-mask .svg-wrap {
  width: 112px;
}
.V2 .o-img > .img-mask .svg-wrap,
.V1 .o-img > .img-mask .svg-wrap {
  width: 78px;
}

.o-img > .img-mask svg {
  width: 100%;
  opacity: 0.4;
}

.o-img > img.loaded.showed {
  visibility: inherit;
  opacity: 1;
  height: auto !important;
}

.o-img-wrap .o-img.loaded img,
.o-img-wrap .o-img.loaded video {
  transform: translateZ(0px) scale(1.1);
  -webkit-transform: translateZ(0px) scale(1.1);
  -ms-transform: translateZ(0px) scale(1.1);
}

.ie .o-img-wrap .o-img.loaded video {
  top: -1px;
}

.o-hangon {
  transition: none;
  -ms-transition: none;
  will-change: transform;
}
.o-hangon.hide {
  opacity: 0;
}
.o-hangon * {
  transform: translate3d(0, 0, 0) !important;
}

.o-hangon video {
  display: block;
  width: 100%;
}

.o-smart-area {
  opacity: 0;
  transform: translate(0px, 120px);
  -ms-transform: translate(0px, 120px);
  transition: transform 1.5s, opacity 1.5s;
  -ms-transition: -ms-transform 1.5s, opacity 1.5s;
}
.V1 .o-smart-area {
  transform: translate(0px, 60px);
  -ms-transform: translate(0px, 60px);
}
.loaded .o-smart-area.hello,
.ie9 .o-smart-area {
  opacity: 1;
  transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
}

.o-smart-area-rtl {
  opacity: 0;
  transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transition: transform 1.5s, opacity 1.5s;
  -ms-transition: -ms-transform 1.5s, opacity 1.5s;
}
.V1 .o-smart-area-rtl {
  transform: translate(60px, 0px);
  -ms-transform: translate(60px, 0px);
}
.loaded .o-smart-area-rtl.hello,
.ie9 .o-smart-area-rtl {
  opacity: 1;
  transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
}

.o-smart-area-ltr {
  opacity: 0;
  transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transition: transform 1.5s, opacity 1.5s;
  -ms-transition: -ms-transform 1.5s, opacity 1.5s;
}
.V1 .o-smart-area-ltr {
  transform: translate(-60px, 0px);
  -ms-transform: translate(-60px, 0px);
}
.loaded .o-smart-area-ltr.hello,
.ie9 .o-smart-area-ltr {
  opacity: 1;
  transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
}

.loaded .projects-view .o-smart-area.hello {
  opacity: 0;
  transform: translate(0px, 120px);
  -ms-transform: translate(0px, 120px);
}
.loaded .projects-view.on .o-smart-area.hello {
  opacity: 1;
  transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
}

.o-parallax {
  transition: transform 0.35s linear;
  -ms-transition: transform 0.35s linear;
}

.o-hello {
  opacity: 0;
  transform: translate3d(0, 120px, 0);

  transition: transform 0s, opacity 0s;
  -ms-transition: transform 0s, opacity 0s;
}
.V1 .o-hello {
  transform: translate3d(0, 70px, 0);
}
.ie9 .o-hello {
  opacity: 1;
}

.o-hello.hello {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 1.5s, opacity 1.5s;
  -ms-transition: -ms-transform 1.5s, opacity 1.5s;
}

.o-hello.hello .o-img.loaded > .img-mask {
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition-delay: 0.8s;
}

.o-hello.hello .o-img-wrap .o-img.loaded img,
.o-hello.hello .o-img-wrap .o-img.loaded video {
  transform: translateZ(0px) scale(1);
  -webkit-transform: translateZ(0px) scale(1);
  -ms-transform: translateZ(0px) scale(1);
  transition: transform 1.5s cubic-bezier(0, 0, 0.18, 1.055);
  transition-delay: 0.8s;
}

/*.o-full {overflow:hidden;}*/

#vs-scroll-panel {
  position: fixed;
  z-index: 2147483647;
  right: 0;
  top: 0;
  bottom: 0;
  width: 14px;
  border-left: 1px solid #e7e7e7;
  background: #f9f9f9;
  visibility: visible;
  opacity: 0;
  transition: opacity 0.3s;
}
#vs-scroll-panel.lock {
  display: none !important;
}
#vs-scroll-panel.on,
#vs-scroll-panel.over,
#vs-scroll-panel:hover {
  opacity: 1;
}
#vs-scroll-panel.over {
  width: 16px;
}
.vs-scroll-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  outline: 0;
  border: 0;
  padding: 0;
  background: transparent;
}
.vs-scroll-bar span {
  display: block;
  background: #c1c1c1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 3px;
  width: 8px;
  border-radius: 4px;
  transition: height 0.25s;
}
.vs-scroll-bar:hover span {
  background: #7d7d7d;
}
#vs-scroll-panel.over span {
  width: 10px;
  border-radius: 5px;
  background: #7d7d7d;
}

/* a */
a.link {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
a.link:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #212121;
  transition: left 0.5s ease-in-out;
  -webkit-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
}
a.link:hover {
  color: rgba(0, 0, 0, 0.38);
  text-align: right;
}
a.link:hover:before {
  left: 101%;
  transition: left 0.3s ease-in-out;
  -webkit-transition: left 0.3s ease-in-out;
  -ms-transition: left 0.3s ease-in-out;
}

a.link2 {
  overflow: hidden;
  position: relative;
  display: inline-block;
}
a.link2:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #212121;
}
a.link2:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #bbb;
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
}
a.link2:hover {
  color: rgba(0, 0, 0, 0.38);
  text-align: right;
}
a.link2:hover:after {
  width: 100%;
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
}

a.link3 {
  display: inline-block;
  transition: color 0.35s;
  -webkit-transition: color 0.35s;
}
a.link3:hover {
  color: rgba(0, 0, 0, 0.38);
  text-align: right;
}

/* page-jump-bottom */
.page-figure-bottom {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.page-jump-bottom {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e9e9e9;
  z-index: 0;
}
.ready .page-jump-bottom {
  opacity: 0;
}
.V1 .page-jump-bottom {
  min-width: 320px;
  height: 512px;
}
.V2 .page-jump-bottom {
  min-width: 568px;
  height: 320px;
}
.V3 .page-jump-bottom {
  min-width: 768px;
  height: 480px;
}
.V4 .page-jump-bottom {
  min-width: 1024px;
  height: 560px;
}
.V5 .page-jump-bottom {
  min-width: 1366px;
  height: 640px;
}
.V6 .page-jump-bottom {
  min-width: 1366px;
  height: 750px;
}
.page-jump-bottom a {
  display: block;
  height: 100%;
}
.page-jump-bottom .x-stroke {
  color: transparent;
}
.ie9 .page-jump-bottom .x-stroke {
  color: #fff;
}

.page-jump-bottom .bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.page-jump-bottom .page-jump-bottom-txt {
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Circular-Medium";
}
.page-jump-bottom .page-jump-bottom-txt.bk {
  color: #212121;
}
.page-jump-bottom .page-jump-bottom-txt > span {
  display: block;
  width: 100%;
  text-align: left;
}

.V1 .page-jump-bottom .page-jump-bottom-txt {
  left: 11.87%;
  width: 76.53%;
  box-sizing: border-box;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.V2 .page-jump-bottom .page-jump-bottom-txt {
  width: 436px;
  left: 11.6%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.V3 .page-jump-bottom .page-jump-bottom-txt {
  width: 588px;
  left: 11.7%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.V4 .page-jump-bottom .page-jump-bottom-txt {
  width: 632px;
  left: 19.1%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.V5 .page-jump-bottom .page-jump-bottom-txt {
  width: 844px;
  left: 19.1%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
}
.V6 .page-jump-bottom .page-jump-bottom-txt {
  width: 988px;
}

/*.V1 .page-jump-bottom .page-jump-bottom-txt span {font-size: 14px; line-height: 24px;}
.V2 .page-jump-bottom .page-jump-bottom-txt span {font-size: 14px; line-height: 24px;}
.V3 .page-jump-bottom .page-jump-bottom-txt span {font-size: 18px; line-height: 26px;}
.V4 .page-jump-bottom .page-jump-bottom-txt span {font-size: 18px; line-height: 26px;}
.V5 .page-jump-bottom .page-jump-bottom-txt span {font-size: 18px; line-height: 26px;}
.V6 .page-jump-bottom .page-jump-bottom-txt span {font-size: 18px; line-height: 26px;}*/

.V1 .page-jump-bottom .page-jump-bottom-txt p {
  margin-top: 8px;
  font-size: 36px;
  line-height: 46px;
}
.V2 .page-jump-bottom .page-jump-bottom-txt p {
  margin-top: 8px;
  font-size: 36px;
  line-height: 46px;
}
.V3 .page-jump-bottom .page-jump-bottom-txt p {
  margin-top: 8px;
  font-size: 54px;
  line-height: 68px;
}
.V4 .page-jump-bottom .page-jump-bottom-txt p {
  margin-top: 8px;
  font-size: 72px;
  line-height: 91px;
}
.V5 .page-jump-bottom .page-jump-bottom-txt p {
  margin-top: 8px;
  font-size: 72px;
  line-height: 91px;
}
.V6 .page-jump-bottom .page-jump-bottom-txt p {
  margin-top: 8px;
  font-size: 72px;
  line-height: 91px;
}
:lang(ko) .page-jump-bottom .page-jump-bottom-txt p {
  font-family: "YoonGothicPro770";
  font-size: 56px;
  line-height: 1.56;
}
.V3 :lang(ko) .page-jump-bottom .page-jump-bottom-txt p {
  font-size: 42px;
  line-height: 1.62;
}
.V2 :lang(ko) .page-jump-bottom .page-jump-bottom-txt p {
  font-size: 28px;
  line-height: 1.64;
}
.V1 :lang(ko) .page-jump-bottom .page-jump-bottom-txt p {
  font-size: 28px;
  line-height: 1.64;
}

/*.V1 .page-jump-bottom .page-jump-bottom-txt p span {font-size: 36px;}
.V2 .page-jump-bottom .page-jump-bottom-txt p span {font-size: 36px;}
.V3 .page-jump-bottom .page-jump-bottom-txt p span {font-size: 54px;}
.V4 .page-jump-bottom .page-jump-bottom-txt p span {font-size: 72px;}
.V5 .page-jump-bottom .page-jump-bottom-txt p span {font-size: 72px;}
.V6 .page-jump-bottom .page-jump-bottom-txt p span {font-size: 72px;}*/

.page-jump-bottom .type-jump {
  transform: none !important;
  height: 100%;
}
.page-jump-bottom .jump-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
}
.page-jump-bottom figure {
  width: auto;
  height: 120%;
}
.page-jump-bottom figure .o-img > img.loaded.showed {
  position: relative;
  top: 0;
  left: 50%;
  width: auto !important;
  height: 100% !important;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
}
.page-jump-bottom.type2 figure .o-img > img.loaded.showed {
  top: 50%;
  width: auto !important;
  height: auto !important;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.V1 .page-jump-bottom.type2 figure .o-img > img.loaded.showed {
  height: 100% !important;
  min-width: inherit;
  min-height: inherit;
}
.ie9 .page-jump-bottom figure .o-img {
  -ms-transform: none !important;
}

/* skipnavi */
.skip-navigator {
  position: relative;
  width: 100%;
  font-size: 0;
}
.skip-navigator a {
  position: absolute;
  top: -1005px;
  left: 0;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 14px;
  background-color: #f4f4e7;
  color: #212121;
  text-align: center;
}
.skip-navigator a:active,
.skip-navigator a:focus {
  overflow: hidden;
  top: 0;
  text-decoration: none;
  z-index: 101;
}

@keyframes smileRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes smileRotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
header .smile-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 193px;
  height: auto;
  margin: -40px 0 0 13%;
  animation-duration: 9s;
  animation-name: smileRotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-duration: 9s;
  -webkit-animation-name: smileRotate;
  -webkit-animation-iteration-count: infinite;
}
header .smile-img img {
  width: 100%;
}
.V4 header .smile-img {
  margin: -9px 0 0 13%;
  width: 124px;
}
.V3 header .smile-img {
  margin: -20px 0 0 14.5%;
  width: 124px;
}
.V2 header .smile-img {
  margin: -20px 0 0 18.5%;
  width: 107px;
}
.V1 header .smile-img {
  margin: -15px 0 0 12.5%;
  width: 82px;
}
/* @media screen and (min-width:1367px) and (max-width:1600px) {
	header .smile-img {top:-23px;left:13%;width:155px;}
}
@media screen and (min-width:1026px) and (max-width:1366px) {
	header .smile-img {top:-23px;left:10.5%;width:150px;}
}
@media screen and (min-width:769px) and (max-width:1024px) {
	header .smile-img {top:-18px;left:12.5%;width:140px;}
}
@media screen and (max-width:768px) {
	header .smile-img {top:3px;left:16.5%;width:80px;}
}

@media screen and (max-width:569px) and (orientation: landscape) {
	header .smile-img {top:-7px;left:20.8%;width:82px;}
}
@media screen and (max-width:820px) and (orientation: landscape) {
	header .smile-img {top:-7px;left:18.8%;width:82px;}
}

@media screen and (min-width:811px) and (orientation: landscape) {
	header .smile-img {top:2px;left:16.8%;width:82px;}
}
@media screen and (min-width:1175px) and (orientation: landscape) {
	header .smile-img {top:-17px;left:11.5%;width:140px;}
}
@media screen and (min-width:1195px) and (orientation: landscape) {
	header .smile-img {top:12px;left:14%;width:82px;}
}
@media screen and (min-width:1360px) and (orientation: landscape) {
	header .smile-img {top:-20px;left:13.5%;width:150px;}
}

@media screen and (max-width:767px) and (orientation: portrait) {
	header .smile-img {top:-19px;left:12%;width:90px;}
} */
