/* layout */
html,
body {
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.showcase-wrap {
  position: relative;
}
.V1 #document > header,
.V2 #document > header {
  position: fixed;
  transform: translate3d(0, 0, 0);
}
#document > header .wrap {
  position: fixed;
  width: 100%;
  height: auto;
}
.gnb-open #document > header .wrap {
  position: relative;
  height: 100%;
}
#document > footer {
  display: none;
  position: relative;
  bottom: 0;
  z-index: 4;
}
.mobile #document > footer a.btn-top:hover {
  opacity: 1;
}
.mobile #document > footer a.btn-top:after {
  display: none;
}

.o-hamburger {
  border-color: #fff;
  background-color: transparent;
}
.o-hamburger > span.word {
  color: #fff;
}
.o-hamburger.selected {
  border-color: #212121;
}

#wrap .h1 {
  z-index: 11;
}
#wrap .showcase-navi {
  position: fixed;
  z-index: 11;
  left: 4.5%;
  top: 29%;
  width: 217px;
}
#wrap .navigator {
  position: absolute;
  left: -90px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
}
#wrap .navigator a {
  display: inline-block;
  overflow: hidden;
  position: relative;
  margin: 0 12px;
  padding-bottom: 5px;
  color: #fff;
  font-family: "Circular-Medium";
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
}
#wrap .navigator a:after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 1px;
  background: #fff;
  opacity: 0.7;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -ms-transition: width 0.5s;
}
#wrap .navigator a:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
}
#wrap .navigator a:hover:after {
  width: 100%;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -ms-transition: width 0.5s;
}
.V4 #wrap .navigator,
.V3 #wrap .navigator {
  left: -95px;
}
.mobile #wrap .navigator,
.V1 #wrap .navigator,
.V2 #wrap .navigator {
  display: none;
}

:lang(ko) #wrap .navigator {
  left: -68px;
}
:lang(ko).V4 #wrap .navigator,
:lang(ko).V3 #wrap .navigator {
  left: -70px;
}
:lang(ko) #wrap .navigator a {
  font-size: 11px;
  font-family: "YoonGothicPro770";
}

.mobile #footer {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.o-img {
  position: relative;
  transform: none !important;
  will-change: auto !important;
}

/* section */
section.section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/*section.section.on {position:relative;overflow: hidden;}*/
/*section.section {position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;}*/

.mobile section.section {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mobile section.section.on {
  position: relative;
}

/*.mobile	section.section.up .title {transform : translate(0, 150px); -ms-transform : translate(0, 150px); opacity : 0;transition : all 0.4s}
.mobile	section.section.up .mask {opacity:1; transition:opacity 0.4s;}
.mobile	section.section.down .title {transform : translate(0, 0); -ms-transform : translate(0, 0); opacity : 1;transition : all 0.4s}
.mobile	section.section.down .mask {opacity:0.11; transition:opacity 0.4s;}*/

section.hiring .section-body {
  left: 0 !important;
  max-width: inherit !important;
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
}
section.section .section-body .hiring-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 12vw;
  box-sizing: border-box;
  color: #fff;
  font-family: "Circular-Bold";
  font-weight: bold;
  z-index: 1;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
section.section .section-body .hiring-text h2 {
  margin-bottom: -10px !important;
  font-size: 14.37vw !important;
  line-height: 1.26 !important;
  letter-spacing: -0.916vw;
  font-family: "Circular-Bold" !important;
}
section.section .section-body .hiring-text p {
  position: relative;
  left: 0.7vw;
  font-size: 3.75vw;
  line-height: 1.11;
  letter-spacing: -0.239vw;
  color: #fff;
}
section.section .section-body .hiring-text p .m-br {
  display: none;
}
section.section .section-body .hiring-text .green-txt {
  font-style: normal;
  color: #8cfa20;
}
section.section .section-body .hiring-text .link-btn {
  position: relative;
  left: 0.7vw;
  display: block;
  font-size: 3.75vw;
  line-height: 1.11;
  letter-spacing: -0.239vw;
}
section.section .section-body .hiring-text .logo-img {
  position: absolute;
  bottom: -25px;
  right: 103px;
  width: 226px;
  height: auto;
  transform: rotate(29deg);
  -webkit-transform: rotate(29deg);
  -ms-transform: rotate(29deg);
}
section.section .section-body .hiring-text .logo-img img {
  width: 100%;
}
section.section .section-body .stone-img {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1600px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
section.section .section-body .stone-img img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}
@media screen and (orientation: portrait) {
  section.section .section-body .hiring-text h2 {
    margin-bottom: 40px !important;
    font-size: 27vw !important;
    line-height: 0.81 !important;
  }
  section.section .section-body .hiring-text p {
    position: relative;
    left: 1.3vw;
    font-size: 5vw;
  }
  section.section .section-body .hiring-text p br {
    display: none;
  }
  section.section .section-body .hiring-text p .m-br {
    display: block;
  }
  section.section .section-body .hiring-text .link-btn {
    position: relative;
    left: 1.3vw;
    font-size: 5vw;
  }
}
@media screen and (min-width: 1365px) and (orientation: landscape) {
  section.section .section-body .hiring-text .logo-img {
    bottom: -49px !important;
    right: 141px !important;
    width: 140px !important;
  }
}

@media screen and (min-width: 1367px) and (max-width: 1600px) {
  section.section .section-body .hiring-text .logo-img {
    bottom: -111px;
    right: 132px;
  }
  section.section .section-body .stone-img {
    width: 1328px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1366px) {
  section.section .section-body .hiring-text .logo-img {
    bottom: -59px;
    right: 51px;
    width: 140px;
  }
  section.section .section-body .stone-img {
    width: 1315px;
  }
  section.section .section-body .stone-img img {
    bottom: -170px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  section.section .section-body .hiring-text .logo-img {
    bottom: -5px;
    right: 101px;
    width: 120px;
  }
  section.section .section-body .stone-img {
    width: 1058px;
  }
}
@media screen and (max-width: 768px) {
  section.section .section-body .hiring-text {
    padding: 0 13.28vw;
  }
  section.section .section-body .hiring-text h2 {
    margin-bottom: 20px !important;
    font-size: 28.64vw !important;
    line-height: 0.81 !important;
    letter-spacing: -1.9vw !important;
  }
  section.section .section-body .hiring-text p {
    left: 1.5vw;
    font-size: 5.2vw;
    line-height: 1.05;
    letter-spacing: -0.338vw;
  }
  section.section .section-body .hiring-text p br {
    display: none;
  }
  section.section .section-body .hiring-text p .m-br {
    display: block;
  }
  section.section .section-body .hiring-text .link-btn {
    left: 1.5vw;
    font-size: 5.2vw;
    line-height: 1.05;
    letter-spacing: -0.338vw;
  }
  section.section .section-body .hiring-text .logo-img {
    bottom: 10px;
    right: 80px;
    width: 120px;
  }
  section.section .section-body .stone-img {
    width: 1540px;
  }

  section.section.hiring .o-img > img.showed.loaded {
    height: 100% !important;
  }
}
@media screen and (max-width: 767px) {
  section.section .section-body .hiring-text {
    padding: 0 6.87vw;
  }
  section.section .section-body .hiring-text h2 {
    margin-bottom: 30px !important;
    font-size: 33.43vw !important;
    line-height: 0.81 !important;
    letter-spacing: -2.125vw !important;
  }
  section.section .section-body .hiring-text p {
    left: 1.5vw;
    font-size: 7vw;
    line-height: 1.04;
    letter-spacing: -0.468vw;
  }
  section.section .section-body .hiring-text .link-btn {
    left: 1.5vw;
    font-size: 7vw;
    line-height: 1.04;
    letter-spacing: -0.468vw;
  }
  section.section .section-body .hiring-text .logo-img {
    bottom: -68px;
    right: 71px;
    width: 65px;
  }
  section.section .section-body .stone-img {
    width: 770px;
  }
}
@media screen and (max-width: 820px) and (orientation: landscape) {
  section.section .section-body .hiring-text {
    width: 439px;
    padding: 0;
  }
  section.section .section-body .hiring-text h2 {
    margin-bottom: 10px !important;
    font-size: 84px !important;
    line-height: 0.81 !important;
    letter-spacing: -5.4px !important;
  }
  section.section .section-body .hiring-text p {
    font-size: 21px;
    line-height: 1.14;
    letter-spacing: -1.3px;
  }
  section.section .section-body .hiring-text p br {
    display: block;
  }
  section.section .section-body .hiring-text p .m-br {
    display: none;
  }
  section.section .section-body .hiring-text .link-btn {
    font-size: 21px;
    line-height: 1.14;
    letter-spacing: -1.3px;
  }
  section.section .section-body .hiring-text .logo-img {
    bottom: -8px;
    right: -9px;
    width: 65px;
  }
  section.section .section-body .stone-img {
    width: 472px;
  }

  section.section.hiring .o-img > img.showed.loaded {
    height: 100% !important;
  }
}
@media screen and (max-width: 320px) {
  section.section .section-body .hiring-text .logo-img {
    bottom: -68px;
    right: 71px;
    width: 65px;
  }
  section.section .section-body .stone-img {
    width: 856px;
  }
}

section.section .section-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  will-change: clip;
}
.V6 section.section .section-body {
  max-width: 1600px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
section.section .full {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
}
section.section .section-body .title {
  display: block;
  position: absolute;
  bottom: 18.65%;
  margin-left: 30.9%;
  width: 800px;
  height: 340px;
  z-index: 1;
  color: #fff;
}
.V5 section.section .section-body .title {
  width: 50%;
  margin-left: 30.9%;
}
.V4 section.section .section-body .title {
  width: 50%;
  height: 270px;
  margin-left: 30.9%;
  bottom: 18.22%;
}
.V3 section.section .section-body .title {
  width: 57.42%;
  margin-left: 30.9%;
  bottom: 19.5%;
}
.V2 section.section .section-body .title {
  height: auto;
  width: 57.57%;
  margin-left: 30.81%;
  bottom: 25.3%;
}
.V1 section.section .section-body .title {
  height: auto;
  width: 69%;
}
.V1 section.section .section-body .title {
  height: auto;
  margin-left: 19%;
  bottom: 12.6%;
}

section.section .section-body .subtitle {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-family: "Circular-Medium";
}
:lang(ko) section.section .section-body .subtitle {
  font-size: 12px;
  font-family: "YoonGothicPro770";
}
.V2 section.section .section-body .subtitle,
.V1 section.section .section-body .subtitle {
  font-size: 12px;
}

section.section .section-body h2 {
  width: 100%;
  line-height: 1.26;
  font-size: 72px;
  font-family: "Circular-Medium";
  color: #fff;
}
/*.mobile section.section .section-body h2 {word-break:break-all;}*/
:lang(ko) section.section .section-body h2 {
  font-size: 56px;
  font-family: "YoonGothicPro770";
  line-height: 1.63;
}
section.section .section-body h2 strong {
  color: #fff;
  -webkit-text-stroke: 2px #fff;
}
.V4 section.section .section-body h2 {
  font-size: 54px;
}
:lang(ko).V4 section.section .section-body h2 {
  font-size: 42px;
  line-height: 1.62;
}
.V3 section.section .section-body h2 {
  font-size: 54px;
}
:lang(ko).V3 section.section .section-body h2 {
  font-size: 42px;
  line-height: 1.62;
}
.V2 section.section .section-body h2 {
  font-size: 24px;
  line-height: 1.5;
}
:lang(ko).V2 section.section .section-body h2 {
  font-size: 18px;
}
.V1 section.section .section-body h2 {
  font-size: 36px;
  line-height: 1.28;
}
:lang(ko).V1 section.section .section-body h2 {
  font-size: 28px;
  line-height: 1.64;
}
.V2 section.section .section-body h2 strong,
.V1 section.section .section-body h2 strong {
  -webkit-text-stroke: 1px #fff;
}
.webkit section.section .section-body h2 strong,
.sticky section.section .section-body h2 strong {
  color: transparent;
}

/* temporary for galaxy s10 2018 4 23 */
.V1 section.section .section-body h2.wide {
  width: 104%;
}

section.section .section-body p.mores {
  display: inline-block;
  position: relative;
  margin-top: 19px;
  width: auto;
  padding: 5px 0;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Circular-Medium";
  opacity: 0.7;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
}
:lang(ko) section.section .section-body p.mores {
  font-size: 12px;
  font-family: "YoonGothicPro760";
}
section.section .section-body p.mores:after {
  position: absolute;
  bottom: 2px;
  display: block;
  content: "";
  width: 0;
  height: 1px;
  background: #fff;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -ms-transition: width 0.5s;
}
.V2 section.section .section-body p.mores {
  margin-top: 8px;
  font-size: 12px;
}
:lang(ko).V2 section.section .section-body p.mores {
  font-size: 11px;
}
.V1 section.section .section-body p.mores {
  margin-top: 16px;
}
section.section .section-body .title:hover p.mores {
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
}
section.section .section-body .title:hover p.mores:after {
  width: 100%;
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
  -ms-transition: width 0.5s;
}
.mobile section.section .section-body .title:hover p.mores:after {
  transition: none;
  width: 0;
}

section.section figure {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
section.section figure .mask {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #000;
}
section.first-section figure .mask {
  opacity: 0.11;
}

section.section .o-img > img.showed.loaded,
section.section .o-img > video.showed.loaded {
  width: 100% !important;
  height: auto !important;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

section.section .o-img.video img.showed.loaded {
  position: absolute;
}
section.section .o-img.video video {
  width: auto !important;
  height: auto !important;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 1;
}

/* recruit */
section.recruit figure:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1000%;
  z-index: 1;
  background: url("./images/dot.png") repeat left top;
}
section.recruit figure .mask {
  background-color: rgb(74, 54, 3);
  opacity: 0.16;
}
/*section.recruit .o-img {background-color:#f5f6ec !important;}
	section.recruit .o-img.video img {opacity:0 !important;}
	section.recruit .o-img.video video {width:58%; left:50%; top:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%);}*/
/*the Face*/
section.theface figure:after {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1000%;
  z-index: 1;
  background: url("./images/dot.png") repeat left top;
}
section.theface figure .mask {
  background-color: rgb(74, 54, 3);
  opacity: 0.16;
}
/* content */
.scroll-text {
  position: fixed;
  z-index: 11;
  bottom: 6.4%;
  right: 3.5%;
  width: 66px;
  height: 18px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  transform: rotate(-270deg);
  -webkit-transform: rotate(-270deg);
  -ms-transform: rotate(-270deg);
}
:lang(ko) .scroll-text {
  font-family: "Circular-Medium";
}
.V4 .scroll-text {
  right: 3%;
  bottom: 8.6%;
}
.V3 .scroll-text {
  right: 2.5%;
  bottom: 5.4%;
}
.V2 .scroll-text {
  right: 3px;
  bottom: 14.6%;
}
.V1 .scroll-text {
  right: -11px;
  bottom: 16.54%;
}

.control-btn {
  position: fixed;
  bottom: 4.2%;
  z-index: 11;
  width: 100%;
  height: 38px;
}
.V6 .control-btn {
  max-width: 1600px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.V4 .control-btn {
  bottom: 5.9%;
}
.V3 .control-btn {
  bottom: 3.2%;
}
.V2 .control-btn {
  bottom: 8.8%;
  height: 22px;
}
.V1 .control-btn {
  bottom: 2.6%;
  height: 22px;
}

.control {
  position: absolute;
  left: 30.9%;
  margin-left: -50px;
}
.V4 .control {
  margin-left: -55px;
}
.V3 .control {
  margin-left: -54px;
}
.V2 .control {
  right: auto;
  left: 30.9%;
  margin-left: -40px;
}
.V1 .control {
  right: auto;
  left: 19%;
  margin-left: -40px;
}

.control button {
  position: relative;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  opacity: 1;
  outline: none;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
}
.control button:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
.control button img {
  opacity: 0.62;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.control button.none {
  opacity: 0;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
}
.V2 .control button,
.V1 .control button {
  width: 24px;
  height: 24px;
}
.V2 .control button img,
.V1 .control button img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 14px;
  height: 14px;
  margin: -7px 0 0 -7px;
}
.V2.ie9 .control button img,
.V1.ie9 .control button img {
  text-align: center;
  margin: -7px 0 0 -9px;
}
.control button:first-child {
  margin-right: 8px;
}
.V4 .control button:first-child {
  margin-right: 13px;
}
.V3 .control button:first-child {
  margin-right: 12px;
}
.V2 .control button:first-child,
.V1 .control button:first-child {
  margin-right: 10px;
}
.control button:after {
  display: block;
  clear: both;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #fff;
  box-sizing: border-box;
  opacity: 0.2;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.control button.prev:after {
  display: none;
}
.V2 .control button:after,
.V1 .control button:after,
.V3.mobile .control button:after {
  border-width: 1px;
}
.control button:hover:after {
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}
.control button:hover img {
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.control .circle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.paging {
  overflow: hidden;
  position: fixed;
  z-index: 11;
  bottom: 3.7%;
  right: 11.75%;
  width: 70px;
  height: 80px;
  font-size: 18px;
  font-family: "Circular-Medium";
  color: #fff;
}
.V4 .paging {
  bottom: 5.5%;
}
.V3 .paging {
  right: 11.71875%;
  bottom: 2.7%;
  height: 65px;
}
.V2 .paging {
  bottom: 7%;
  right: 12%;
  width: 48px;
  height: 44px;
  font-size: 14px;
}
.V1 .paging {
  bottom: 2%;
  right: 4.6%;
  width: 46px;
  height: 42px;
  font-size: 14px;
}

.paging .total-area {
  position: absolute;
  bottom: 0;
  right: 0;
}

.paging .current-area {
  overflow: hidden;
  position: absolute;
  right: 25%;
  top: 0;
  height: 72px;
}
.V4 .paging .current-area {
  top: 19px;
  height: 54px;
}
.V3 .paging .current-area {
  top: 6px;
  height: 54px;
}
.V2 .paging .current-area {
  top: 7px;
  right: 30%;
  height: 36px;
}
.V1 .paging .current-area {
  right: 30%;
  height: 36px;
}

.paging .current {
  display: inline-block;
  font-size: 72px;
  vertical-align: bottom;
}
.V4 .paging .current {
  font-size: 54px;
}
.V3 .paging .current {
  font-size: 54px;
}
.V2 .paging .current,
.V1 .paging .current {
  font-size: 36px;
}

.paging .current li {
  line-height: 1;
  text-align: center;
}

/* 로드될때 loaded */
.loaded #document > footer {
  display: block;
}

#wrap .navigator a {
  transform: translate(0, -30px);
  -webkit-transform: translate(0, -30px);
  -ms-transform: translate(0, -30px);
  opacity: 0;
}
#wrap .control,
#wrap .paging {
  transform: translate(0, 30px);
  -webkit-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  opacity: 0;
}

.loaded #wrap .control,
.loaded #wrap .paging,
.loaded #wrap .navigator a {
  opacity: 1;
  transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
}
.loaded #wrap .navigator a,
.loaded .control,
.loaded .paging {
  transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
  -ms-transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
}

.loaded #wrap .navigator a:first-child {
  transition-delay: 0.1s;
  -ms-transition-delay: 0.1s;
}
.loaded #wrap .control {
  transition-delay: 0.2s;
  -ms-transition-delay: 0.2s;
}
.loaded #wrap .paging {
  transition-delay: 0.3s;
  -ms-transition-delay: 0.3s;
}

html #wrap section.first-section .title > * {
  opacity: 0;
  margin-left: -50px;
}
/*.loaded .first-section .title > * {opacity:1; -webkit-transform: translate(0,0); -ms- transform: translate(0,0); transform: translate(0,0); transition:all 1.5s 0.5s;}*/

/* section loaded */
.o-img.video > img {
  opacity: 1 !important;
  background: #000;
}
.o-img > video {
  opacity: 0;
}
.loaded .o-img > video {
  opacity: 1;
  transition: opacity 0.2s 0.3s;
  -webkit-transition: opacity 0.2s 0.3s;
}
.loaded .o-img.vidoe.loaded > img {
  opacity: 0;
}

#document {
  background: #fff;
}
section.section {
  visibility: hidden;
  opacity: 0;
}
section.first-section {
  visibility: visible;
  opacity: 1;
}
section.first-section .o-img > img {
  opacity: 1 !important;
}
/*.loaded section.section {visibility:visible;background:transparent;}*/

/* ie9 */
.ie9 .o-img {
  -ms-transform: none !important;
}
